<div id="<%= dom_id task %>">
  <%
=begin%>
 <p>
    <strong>Task:</strong>
    <%= task.title %>
  </p> 
<%
=end%>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Assign_to:</strong>
    <%= task.assign_to %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= task.status %>
  </p>

</div>
