<center><h1>Tasks</h1></center>
<div id="tasks" class="blurred-background task-card">
  <% if current_user.type == "Administrator"  %>
    <div class="blurred-background task-card">
      <strong><center> <%= link_to "Create New Task", new_task_path, id: "new-task-link" %> </center> </strong>
    </div>
  <% end %>


  <% @tasks.each do |task| %>
    <div class="task-card">
      <p class="task-title">
        <strong>Task:</strong>
        <%= link_to task.title, task %>
      </p>
      <p class="task-description">
        <strong>Description:</strong>
        <%= task.description %>
      </p>
      <p class="task-assignee">
        <strong>Assign_to:</strong>
        <%= User.find(task.assign_to).name %>
      </p>
      <p class="task-status">
        <strong>Status:</strong>
        <%= task.status %>
      </p>
      <p class="task-timer">
        <strong>Timer:</strong>
        <% if task.timer.nil? %>
          <strong>NA</strong>
        <% else %>
          <%= link_to task.timer.time_in_minute, timer_path(task.timer) %>
        <% end %>
      </p>
    </div>
  <% end %>
  <center><%= paginate @tasks %></center>
</div>


