<p style="color: green"><%= notice %></p>
 <center>
  <u><h3> Timer with task: <%= @timer.task.title %></h3></u>
 </center> <br>

  <p>
    <strong>Timer (Minutes):</strong>
    <%= @timer.time_in_minute %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= @timer.task.title %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @timer.task.status %>
  </p>

  <p>
    <strong>Assigned By:</strong>
    <%= User.find(@timer.user_id).name %>
  </p>
  
<div>
  <% if current_user.type == "Administrator"  %>
      <%= link_to "Edit this timer", edit_timer_path(@timer) %> |
      <%= link_to "Back to timers", timers_path %>
      <%= button_to "Destroy this timer", @timer, method: :delete %>
  <% else %>
    <% if current_user.type == "Workie"  %>

      <%= link_to "Start Timer", start_timer_path %> | 
      <%= link_to "Back to tasks", task_url %>
    <% end %>
  <% end %>  
</div>
